.main-footer {
  position: fixed;
  bottom:0px;
  width:100%;
}           

button {
  margin-left: 5px;
}

.table-actions {
  width: 150px;
}

.skin-blue .main-header .navbar {
  background-color: #34495e!important;
}

.skin-blue .main-header .logo {
    background-color: #34495e!important;
}
.skin-blue .table-bordered  {
  background: #34495e;
}

.skin-blue .main-header .logo {
    background-color: #34495e!important;
}
.skin-blue .table {
  background:#fff
}

#root, #app, #map {
  height: 100%;
}

#state {
  width: 200px;
  float: left;
}

#map {
  margin-left: 200px;
}



body{
  padding-bottom:40px;
}

.todoForm {
  width: 50%;
}

